[merge]
	tool = kdiff3
[mergetool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[diff]
	guitool = kdiff3
[difftool "kdiff3"]
	path = C:/Program Files/KDiff3/kdiff3.exe
[user]
	name = Asror Zakirov
	email = asror.zk@gmail.com
[branch]
	autosetuprebase = always
[http]
	sslVerify = false
[core]
	excludesfile = D:\\Develop\\Projects\\ALL\\utility\\GitConfig\\.gitignore
	attributesFile = D:\\Develop\\Projects\\ALL\\utility\\GitConfig\\.gitattributes
	eol = native
	autocrlf = false
	symlinks = true
	quotepath = false
	commitGraph = true
[tgit]
	projectlanguage = 1033
[receive]
	denyCurrentBranch = ignore
[credential]
	useHttpPath = false
	helper = wincred
	username = asror.zakirov
[gc]
	writeCommitGraph = true
